<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Hello world!</h1>

<form th:action="@{/doAddForm}" th:object="${userForm}" th:method="post" enctype="application/json">
    <table>
        <tr>
            <td>Name</td>
            <td><input th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>UserName</td>
            <td><input th:field="*{username}" /><q/td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input th:field="*{password}" /></td>
        </tr>

        <tr>
        <td>
            <select th:field="*{role}" name="role">
                <option value=""> -- </option>
                    <option th:each="entry : ${roleList}"
                                th:value="${entry.roleName}"
                                th:text="${entry.roleName}">
                </option>
            </select>
        <tr>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>
</html>